%h2 Pick a bus route
=select("route", "number", BusRoute.all.collect {|b| [ format_bus_routes(b), b.number ] }, {:include_blank => 'Select One'})

.directions
  %h2 Pick a direction
  = select_tag 'direction'

.stops
  %h2 Pick a stop
  = select_tag 'stop'

.output
